function Level3.new 1
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 32
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 2
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 15
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 15
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 5
pop local 0
label WHILE_EXP1
push local 0
push constant 14
lt
not
if-goto WHILE_END1
push local 0
push constant 6
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 6
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 11
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 11
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 17
pop local 0
label WHILE_EXP2
push local 0
push constant 26
lt
not
if-goto WHILE_END2
push local 0
push constant 6
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 6
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 11
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 11
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 14
pop local 0
label WHILE_EXP3
push local 0
push constant 17
lt
not
if-goto WHILE_END3
push local 0
push constant 6
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 6
call LevelSprite.newConcreteWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 7
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 7
call LevelSprite.newConcreteWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 8
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 8
call LevelSprite.newConcreteWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 9
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 9
call LevelSprite.newConcreteWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 10
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 10
call LevelSprite.newConcreteWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 11
call Level.getSpriteIndex 2
push this 0
add
push local 0
push constant 11
call LevelSprite.newConcreteWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push constant 3
pop local 0
label WHILE_EXP4
push local 0
push constant 7
lt
not
if-goto WHILE_END4
push constant 0
push local 0
call Level.getSpriteIndex 2
push this 0
add
push constant 0
push local 0
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
call Level.getSpriteIndex 2
push this 0
add
push constant 31
push local 0
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
push constant 11
pop local 0
label WHILE_EXP5
push local 0
push constant 15
lt
not
if-goto WHILE_END5
push constant 0
push local 0
call Level.getSpriteIndex 2
push this 0
add
push constant 0
push local 0
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
call Level.getSpriteIndex 2
push this 0
add
push constant 31
push local 0
call LevelSprite.newSteelWall 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP5
label WHILE_END5
push pointer 0
return
function Level3.getMaxShootingDistance 0
push argument 0
pop pointer 0
push constant 20
return
function Level3.getMovesPerTurn 0
push argument 0
pop pointer 0
push constant 15
return
function Level3.getPlayer1StartDirection 0
push argument 0
pop pointer 0
push constant 3
return
function Level3.getPlayer1StartX 0
push argument 0
pop pointer 0
push constant 14
return
function Level3.getPlayer1StartY 0
push argument 0
pop pointer 0
push constant 4
return
function Level3.getPlayer2StartDirection 0
push argument 0
pop pointer 0
push constant 2
return
function Level3.getPlayer2StartX 0
push argument 0
pop pointer 0
push constant 16
return
function Level3.getPlayer2StartY 0
push argument 0
pop pointer 0
push constant 13
return
function Level3.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
