function Player.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 7
push argument 0
pop this 8
push argument 1
pop this 9
push constant 0
pop this 1
push constant 0
pop this 2
push constant 16
call Array.new 1
pop this 3
push pointer 0
return
function Player.remove 1
push argument 0
pop pointer 0
push this 1
push this 2
push constant 512
call Math.multiply 2
add
pop local 0
push pointer 0
push local 0
call Player.clear 2
pop temp 0
push constant 1
neg
pop this 1
push constant 1
neg
pop this 2
push constant 0
return
function Player.checkSpriteXEdge 0
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 31
pop argument 1
label IF_FALSE0
push argument 1
push constant 31
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop argument 1
label IF_FALSE1
push argument 1
return
function Player.checkSpriteYEdge 0
push argument 0
pop pointer 0
push argument 1
push constant 15
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop argument 1
label IF_FALSE0
push argument 1
push constant 2
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 15
pop argument 1
label IF_FALSE1
push argument 1
return
function Player.setLocationAndDirection 0
push argument 0
pop pointer 0
push argument 1
push this 1
eq
push argument 2
and
push this 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
goto IF_END0
label IF_FALSE0
push pointer 0
push argument 1
call Player.checkSpriteXEdge 2
pop argument 1
push pointer 0
push argument 2
call Player.checkSpriteYEdge 2
pop argument 2
push this 8
push argument 1
push argument 2
push constant 0
call TankGame.detectLevelCollision 4
push this 8
push argument 1
push argument 2
push constant 0
call TankGame.detectPlayerCollision 4
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
label IF_END0
push constant 1
neg
pop this 0
push pointer 0
call Player.draw 1
pop temp 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 0
push argument 4
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Player.draw 1
pop temp 0
goto IF_END2
label IF_FALSE2
push pointer 0
call Player.fancyLoad 1
pop temp 0
label IF_END2
push constant 0
return
function Player.detectCollision 0
push argument 0
pop pointer 0
push this 1
push argument 1
eq
push this 2
and
push argument 2
eq
return
function Player.shoot 5
push argument 0
pop pointer 0
push this 1
pop local 0
push this 2
pop local 1
push constant 0
pop local 3
push constant 0
pop local 4
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
push pointer 0
call Player.restoreSpriteState 1
pop temp 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
pop local 0
goto IF_END0
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 1
sub
pop local 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 1
sub
pop local 1
goto IF_END2
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push constant 1
add
pop local 1
label IF_FALSE3
label IF_END2
label IF_END1
label IF_END0
push pointer 0
push local 0
call Player.checkSpriteXEdge 2
pop local 0
push pointer 0
push local 1
call Player.checkSpriteYEdge 2
pop local 1
push pointer 0
push local 0
push local 1
call Player.saveSpriteState 3
pop temp 0
push this 8
push local 0
push local 1
push constant 0
not
call TankGame.detectLevelCollision 4
push this 8
push local 0
push local 1
push constant 0
not
call TankGame.detectPlayerCollision 4
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Player.clearSpriteState 1
pop temp 0
push constant 0
return
label IF_FALSE4
push local 4
push this 8
call TankGame.getMaxShootingDistance 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push local 0
push local 1
call Player.explodeBullet 3
pop temp 0
push pointer 0
call Player.restoreSpriteState 1
pop temp 0
push constant 0
return
label IF_FALSE5
push local 4
push constant 1
add
pop local 4
push local 0
push local 1
push constant 512
call Math.multiply 2
add
pop local 2
push pointer 0
push local 2
call Player.drawBulletFrame 2
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push local 2
call Player.clear 2
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.explodeBullet 1
push argument 0
pop pointer 0
push argument 1
push argument 2
push constant 512
call Math.multiply 2
add
pop local 0
push pointer 0
push local 0
push constant 0
call Player.drawExplosionFrame2 3
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
push constant 0
call Player.drawExplosionFrame1 3
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
call Player.clear 2
pop temp 0
push constant 0
return
function Player.explodeBulletWithSprite 1
push argument 0
pop pointer 0
push argument 1
push argument 2
push constant 512
call Math.multiply 2
add
pop local 0
push pointer 0
push local 0
push constant 0
not
call Player.drawExplosionFrame2 3
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
push constant 0
not
call Player.drawExplosionFrame1 3
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
push constant 0
not
call Player.drawExplosionFrame0 3
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
call Player.clear 2
pop temp 0
push constant 0
return
function Player.explode 0
push argument 0
pop pointer 0
push pointer 0
push this 1
push this 2
call Player.explodeBullet 3
pop temp 0
push constant 0
return
function Player.fancyLoad 1
push argument 0
pop pointer 0
push this 1
push this 2
push constant 512
call Math.multiply 2
add
pop local 0
push pointer 0
push local 0
push constant 0
call Player.drawExplosionFrame0 3
pop temp 0
push constant 60
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
push constant 0
call Player.drawExplosionFrame1 3
pop temp 0
push constant 60
call Sys.wait 1
pop temp 0
push pointer 0
push local 0
call Player.clear 2
pop temp 0
push constant 60
call Sys.wait 1
pop temp 0
push pointer 0
call Player.draw 1
pop temp 0
push constant 400
call Sys.wait 1
pop temp 0
push constant 0
return
function Player.keyPressed 0
push argument 0
pop pointer 0
push argument 1
push constant 132
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 1
push constant 1
add
push this 2
push constant 0
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE1
push pointer 0
push this 1
push this 2
push constant 0
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 1
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push this 1
push constant 1
sub
push this 2
push constant 1
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE3
push pointer 0
push this 1
push this 2
push constant 1
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE2
push argument 1
push constant 131
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 2
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push this 1
push this 2
push constant 1
sub
push constant 2
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE5
push pointer 0
push this 1
push this 2
push constant 2
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE4
push argument 1
push constant 133
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push constant 3
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
push this 1
push this 2
push constant 1
add
push constant 3
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE7
push pointer 0
push this 1
push this 2
push constant 3
push constant 0
call Player.setLocationAndDirection 5
pop temp 0
push constant 0
return
label IF_FALSE6
push argument 1
push constant 32
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call Player.shoot 1
pop temp 0
push constant 0
return
label IF_FALSE8
push constant 0
return
function Player.draw 1
push argument 0
pop pointer 0
push this 1
push this 2
push constant 512
call Math.multiply 2
add
pop local 0
push this 0
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 0
call Player.clear 2
pop temp 0
label IF_FALSE0
push pointer 0
push local 0
call Player.drawDirectionalFrame 2
pop temp 0
push constant 0
return
function Player.drawDirectionalFrame 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
call Player.drawFrameRightNormal 2
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
push argument 1
call Player.drawFrameRightAlternative 2
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 7
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push argument 1
call Player.drawFrameLeftNormal 2
pop temp 0
goto IF_END3
label IF_FALSE3
push pointer 0
push argument 1
call Player.drawFrameLeftAlternative 2
pop temp 0
label IF_END3
goto IF_END2
label IF_FALSE2
push this 0
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 7
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push argument 1
call Player.drawFrameUpNormal 2
pop temp 0
goto IF_END5
label IF_FALSE5
push pointer 0
push argument 1
call Player.drawFrameUpAlternative 2
pop temp 0
label IF_END5
goto IF_END4
label IF_FALSE4
push this 0
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 7
not
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
push argument 1
call Player.drawFrameDownNormal 2
pop temp 0
goto IF_END7
label IF_FALSE7
push pointer 0
push argument 1
call Player.drawFrameDownAlternative 2
pop temp 0
label IF_END7
label IF_FALSE6
label IF_END4
label IF_END2
label IF_END0
push this 7
not
pop this 7
push constant 0
return
function Player.animateTo 3
push argument 0
pop pointer 0
push this 1
push this 2
push constant 512
call Math.multiply 2
add
pop local 0
push this 0
pop local 2
label WHILE_EXP0
push this 1
push argument 1
eq
push this 2
and
push argument 2
eq
not
not
if-goto WHILE_END0
push local 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push argument 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 1
sub
pop this 1
push constant 1
pop this 0
goto IF_END1
label IF_FALSE1
push this 1
push argument 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 1
add
pop this 1
push constant 0
pop this 0
label IF_FALSE2
label IF_END1
label IF_FALSE0
push local 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push argument 2
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push constant 1
sub
pop this 2
push constant 2
pop this 0
goto IF_END4
label IF_FALSE4
push this 2
push argument 2
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push constant 1
add
pop this 2
push constant 3
pop this 0
label IF_FALSE5
label IF_END4
label IF_FALSE3
push local 1
not
pop local 1
push local 2
push this 0
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push local 0
call Player.drawDirectionalFrame 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
label IF_FALSE6
push pointer 0
push local 0
call Player.clear 2
pop temp 0
push this 1
push this 2
push constant 512
call Math.multiply 2
add
pop local 0
push pointer 0
push local 0
call Player.drawDirectionalFrame 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.animateRotate 2
push argument 0
pop pointer 0
push this 1
push this 2
push constant 512
call Math.multiply 2
add
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 8
lt
not
if-goto WHILE_END0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop this 0
goto IF_END0
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop this 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 0
goto IF_END2
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
pop this 0
label IF_FALSE3
label IF_END2
label IF_END1
label IF_END0
push pointer 0
push local 1
call Player.drawDirectionalFrame 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.drawFrameRightNormal 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16880
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16880
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 272
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 792
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32536
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32536
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 792
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 272
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawFrameRightAlternative 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16880
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16880
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 496
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 272
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 792
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32536
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32536
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 792
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 272
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1366
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1706
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawFrameLeftNormal 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3970
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3970
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2176
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 6336
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 6398
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 6398
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6336
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2176
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawFrameLeftAlternative 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3970
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3970
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2176
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 6336
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 6398
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 6398
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6336
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2176
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 21856
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 27296
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawFrameUpNormal 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 22938
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 22938
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 27606
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 27606
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawFrameUpAlternative 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 27030
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 27030
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 23514
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 23514
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawFrameDownNormal 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 22938
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 22938
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 27606
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 27606
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawFrameDownAlternative 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 27030
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 27030
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 30750
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 23514
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 26646
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 22554
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 23514
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31134
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawExplosionFrame0 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 8576
push local 0
push constant 0
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 13039
push local 0
push constant 32
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 13932
push local 0
push constant 64
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 11375
push local 0
push constant 96
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8362
push local 0
push constant 128
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24582
push local 0
push constant 160
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 28676
push local 0
push constant 192
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2060
push local 0
push constant 224
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1054
push local 0
push constant 256
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 7960
push local 0
push constant 288
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 12478
push local 0
push constant 320
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24614
push local 0
push constant 352
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3966
push local 0
push constant 384
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3581
push local 0
push constant 416
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 23596
push local 0
push constant 448
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16124
neg
push local 0
push constant 480
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 8576
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 13039
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 13932
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 11375
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8362
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24582
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 28676
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2060
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1054
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 7960
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 12478
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24614
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3966
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3581
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 23596
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16124
neg
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawExplosionFrame1 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
push local 0
push constant 0
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
push local 0
push constant 32
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
push local 0
push constant 64
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 128
push local 0
push constant 96
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 128
push local 0
push constant 128
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3248
push local 0
push constant 160
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1056
push local 0
push constant 192
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2064
push local 0
push constant 224
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1056
push local 0
push constant 256
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1440
push local 0
push constant 288
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2064
push local 0
push constant 320
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
push local 0
push constant 352
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
push local 0
push constant 384
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
push local 0
push constant 416
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
push local 0
push constant 448
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
push local 0
push constant 480
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3248
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1440
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawExplosionFrame2 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
push local 0
push constant 0
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
push local 0
push constant 32
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
push local 0
push constant 64
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
push local 0
push constant 96
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
push local 0
push constant 128
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
push local 0
push constant 160
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 544
push local 0
push constant 192
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
push local 0
push constant 224
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32
push local 0
push constant 256
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 512
push local 0
push constant 288
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
push local 0
push constant 320
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
push local 0
push constant 352
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
push local 0
push constant 384
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
push local 0
push constant 416
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
push local 0
push constant 448
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
push local 0
push constant 480
add
call Memory.peek 1
or
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 544
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Player.drawBulletFrame 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.clear 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.clearSpriteState 0
push argument 0
pop pointer 0
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
return
function Player.saveSpriteState 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
push argument 2
push constant 512
call Math.multiply 2
add
pop local 0
push constant 0
push this 3
add
push local 0
push constant 0
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push local 0
push constant 32
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push local 0
push constant 64
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push local 0
push constant 96
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 3
add
push local 0
push constant 128
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 3
add
push local 0
push constant 160
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 3
add
push local 0
push constant 192
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 3
add
push local 0
push constant 224
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 3
add
push local 0
push constant 256
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 3
add
push local 0
push constant 288
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 3
add
push local 0
push constant 320
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 3
add
push local 0
push constant 352
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 3
add
push local 0
push constant 384
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 3
add
push local 0
push constant 416
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 3
add
push local 0
push constant 448
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 3
add
push local 0
push constant 480
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop this 4
push argument 1
pop this 5
push argument 2
pop this 6
push constant 0
return
function Player.restoreSpriteState 1
push argument 0
pop pointer 0
push this 4
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 16384
push this 5
add
push this 6
push constant 512
call Math.multiply 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 5
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 6
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 7
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 9
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 10
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 11
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 12
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 13
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 14
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15
push this 3
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
not
return
function Player.dispose 0
push argument 0
pop pointer 0
push this 3
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
